body{
background-image:url(./undraw_birthday-cake_8czn.svg);
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(137, 43, 226, 0.233);
}
a{
    text-decoration: none;
}

input{
    border-radius: 20px;
    padding: 20px;
}    

button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.container{
    text-align: center;
    background-color: rgba(37, 2, 165, 0.514);
    padding: 80px;
    border-radius: 10px;
    width: 500px;
    margin: 150px auto;
    justify-content: center;
    display: flex;
    align-items: center;

}